<div class="form-login">
  <h4>Company Registration</h4>

  <div class="input-group">
    <span class="input-group-addon" id="name">@</span>
    <input ng-model="companyInfo.name" type="text" class="form-control" placeholder="Company name"
           aria-describedby="name">
  </div>

  <div class="input-group">
        <span class="input-group-addon" id="installName" data-toggle="tooltip" data-placement="top"
              title="Name of the installation">
          <i class="fa fa-info-circle"></i>
        </span>
    <input ng-model="companyInfo.installName" type="text" class="form-control" placeholder="Name of the installation"
           aria-describedby="installName">
  </div>

  <div class="input-group">
        <span class="input-group-addon" id="adminPassword" data-toggle="tooltip" data-placement="top"
              title="Password for the database 'admin' user for a new database">
          <i class="fa fa-info-circle"></i>
        </span>
    <input ng-model="companyInfo.adminPassword" type="password" class="form-control"
           placeholder="Password of 'admin' user" aria-describedby="adminPassword">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="adminConfirmPassword">@</span>
    <input type="password" class="form-control adminConfirmPassword" placeholder="Confirm password"
           aria-describedby="adminConfirmPassword">
  </div>

  <!--<div class="input-group">-->
  <!--<span class="input-group-addon" id="publicDomain" data-toggle="tooltip" data-placement="top"-->
        <!--title="The public domain name that will point to this web server">-->
  <!--<i class="fa fa-info-circle"></i>-->
  <!--</span>-->
    <!--<input ng-model="companyInfo.publicDomain" type="text" class="form-control"-->
           <!--placeholder="The public domain name that will point to this web server" aria-describedby="publicDomain">-->
  <!--</div>-->
  </br>
  <div class="wrapper">
      <span class="group-btn">
        <button class="btn btn-danger btn-md btnCompanyRegister" ng-click="register()">Register <i
          class="fa fa-user-plus"></i></button>
      </span>
  </div>
</div>