<div class="form-login">
  <h4>Super Admin Setting</h4>

  <div class="input-group">
    <span class="input-group-addon" id="oldPassword">@</span>
    <input ng-model="userSetting.originalPassword" type="password" class="form-control" placeholder="Old password" aria-describedby="oldPassword">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="newPassword">@</span>
    <input ng-model="userSetting.password" type="password" class="form-control" placeholder="New password" aria-describedby="newPassword">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="confirmPassword">@</span>
    <input type="password" class="form-control confirmPassword" placeholder="Confirm password" aria-describedby="confirmPassword">
  </div>
  </br>
  <div class="wrapper">
        <span class="group-btn">
          <a class="btn btn-danger btn-md" ng-click="update()">Update <i class="fa fa-user-plus"></i></a>
        </span>
  </div>
  <!--<div class="wrapper">-->
        <!--<span class="group-btn">-->
          <!--<button class="btn btn-link btn-md" ng-click="cancel()">Cancel</button>-->
        <!--</span>-->
  <!--</div>-->
</div>
</div>